html {
  font-size: 16px;
  color: black;
}

.container {
  width: 100%;
}

.flex {
  display: flex;
}

/* Header Section */

header {
  height: 4rem;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;
}

header.flex {
  align-items: center;
}

.logo {
  flex-grow: 1;
  padding-left: 1.5rem;
}

.flex.logo {
  align-items: center;
}

.desktop-menu li {
  padding-right: 1rem;
}

.desktop-menu li:last-child {
  padding-right: 1.5rem;
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 450px) {

  header.container {
    max-width: 450px;
    margin: auto;
  }

  .logo {
    display: none
  }

  .desktop-menu {
    display: none;
  }

  nav {
    width: 100%;
    margin: auto;
  }

  .mobile-menu {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
  }
}

/* Banner Section */

.banner {
  margin-top: 4rem;
  background-color: grey;
}

.banner.flex {
  align-items: center;
}

.banner-main {
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner-image {
  width: 100%;
}

.banner-image img {
  width: 100%;
  height: auto;
  overflow: hidden;

}

.banner-info.flex {
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  left: 1rem;
  width: 40%;
}

.welcome {
  width: 70%;
}

.banner-info h1 {
  font-size: 3rem;
}

.banner-info h4 {
  font-size: 1.5rem;
  padding: 1.5rem 0;
}

.banner-info .button p {
  font-size: 1.5rem;
}

.button.start {
  width: 100%;
  background-color: blue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

/* Main Section */

.motivation.flex {
  flex-direction: column;
  width: 60%;
  padding: 2rem 1.5rem;
}

.section-image img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 2rem;
}

.motivation h2 {
  font-size: 2.3rem;
}

p.quote {
  width: 95%;
  font-size: 1.1rem;
  line-height: 1.2;
  padding: 1.5rem 0;
}

.information.flex {
  flex-direction: column;
  width: 40%;
  border-left: 1px solid gray;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.info.flex {
  align-items: center;
}

.info {
  width: 100%;
}

.info:last-child {
  background-color: gray;
}

.info-img {
  width: 35%;
}

.info-img img {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 1rem;
}

.details.flex {
  flex-direction: column;
  width: 65%;
  position: relative;
  left: 2rem;
}

.details.flex h3 {
  font-size: 1.75rem;
}

.details.flex h4 {
  padding: 0.5rem 0;
  width: 85%;
}

.read-more {
  color: blue;
}

/* Courses Section */

.course-list {
  background-color: gray;
}

.content.flex {
  padding: 2rem 4.5rem;
  flex-direction: column;
  align-items: center;
}

.course-list h2 {
  padding-bottom: 1rem;
  font-size: 2.3rem;
  text-align: center;
}

.courses.flex {
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.course.flex {
  flex-direction: column;
  width: 30%;
  margin: 1rem;
  background-color: white;
}

.course-img img {
  width: 100%;
  height: auto;
}

.course-info {
  padding: 1rem 1rem 1.5rem 1rem;
  height: 5.5rem;
}

.course-info h3 {
  font-size: 1.35rem;
}

.course-title {
  padding: 0.5rem 0;
}

/* Thesis Section */

.thesis {
  background-color: white;
}

.thesis-container.flex {
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.thesis-container h2 {
  padding-bottom: 1rem;
  font-size: 2.3rem;
}

.thesis-main.flex {
  flex-direction: column;
  width: 60%;
  padding: 2rem 1.5rem 0 1.5rem;
}

.thesis-video video {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 2rem;
}

.thesis-main h2 {
  font-size: 2.3rem;
}

.projects.flex {
  flex-direction: column;
  width: 40%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.project.flex {
  align-items: center;
}

.project {
  width: 100%;
}

.project:first-child {
  background-color: gray;
}

.project-img {
  width: 35%;
}

.project-img img {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 1rem;
}

.project-info.flex {
  flex-direction: column;
  width: 65%;
  position: relative;
  left: 2rem;
}

.project-info.flex h3 {
  font-size: 1.75rem;
}

.project-info.flex h4 {
  padding: 0.5rem 0;
  width: 85%;
}

/* Footer Section */

footer.flex {
  border-top: 1px solid black;
  align-items: flex-start;
  justify-content: space-between;
}

footer .copyright {
  padding: 1rem 0 3rem 1.5rem;
}

footer .terms {
  padding: 1rem 1.5rem 3rem 0;
}

.terms li:first-child {
  padding-right: 1rem;
}
