html {
  font-size: 16px;
  color: black;
}

.container {
  width: 100%;
}

.flex {
  display: flex;
}

/* Header Section */

header {
  height: 4rem;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;
}

header.flex {
  align-items: center;
}

.logo {
  flex-grow: 1;
  padding-left: 1.5rem;
}

.flex.logo {
  align-items: center;
}

.desktop-menu li {
  padding-right: 1rem;
}

.desktop-menu li:last-child {
  padding-right: 1.5rem;
}

/* Banner Section */

.banner {
  margin-top: 4rem;
  background-color: grey;
}

.banner.flex {
  align-items: center;
}

.banner-image {
  max-width: 60%;
}

.banner-image img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  margin: 2rem 1.5rem;
}

.banner-info {
  width: 26%;
}

.banner-info.flex {
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 4rem;
}

.banner-info h1 {
  font-size: 3rem;
}

.banner-info h4 {
  font-size: 1.5rem;
  padding: 1.5rem 0;
}

.banner-info .button p {
  font-size: 1.5rem;
}

.button.start {
  width: 100%;
  background-color: blue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

/* Main-Section-1 */

.motivation.flex {
  flex-direction: column;
  width: 60%;
}

.section-image img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  margin: 2rem 1.5rem;
}

.information.flex {
  flex-direction: column;
  width: 35%;
}

.info.flex {
}

.info img {
  width: 35%;
  height: auto;
  overflow: hidden;
}

.details.flex {
  flex-direction: column;
  width: 65%;
}

.details.flex h4 {

}

/* Footer Section */

footer {
  border-top: 1px solid black;
}

footer.flex {
  align-items: flex-start;
  justify-content: space-between;
}

footer .copyright {
  padding-left: 1.5rem;
}

footer .terms {
  padding-right: 1.5rem;
}
